* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 200vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin: 1rem 2rem 0.5rem 2rem;
}

header button {
  background-color: #fff;
  border: none;
}

ul {
  list-style-type: none;
}

i {
  color: #c0c0c0;
}

.nav-menu {
  background-color: grey;
  height: 20rem;
  color: #fff;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1.8rem;
}

.nav-menu ul {
  padding-left: 2rem;
}

.nav-menu li {
  padding-bottom: 2.5rem;
  font-weight: 600;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background-color: #262a32;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  header button {
    display: none;
  }

  i {
    padding-left: 2rem;
    color: #262a32;
  }
  .white-space {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    background-color: #fff;
    color: black;
  }

  .nav-menu ul {
    display: flex;
  }

  .nav-menu li {
    padding-left: 3rem;
  }

  .icons {
    background-color: #fff;
    margin-right: 2rem;
    margin-top: 2.8rem;
  }
}
/* Header part 


  .nav--elements {
    display: flex;
    margin-left: 20rem;
    margin-bottom: 1.1rem;
  }

  .nav--elements li {
    margin-left: 0rem;
    font-size: 2rem;
    padding: 2rem 4rem 3rem 2rem;
  }

  .nav--hover-element:hover {
    border-bottom: 0.4rem solid #84bc22;
    color: #fff;
    background-color: #262a32;
  }

  .icons img {
    margin-left: 3.8rem;
  }


/* Nav part 

.navigation {
  display: flex;
  background-color: #262a32;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 1rem;
  margin-top: none;
}  */
