* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}
/* Header element */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin: 1rem 2rem 0.5rem 2rem;
}

header button {
  background-color: #fff;
  border: none;
}

ul {
  list-style-type: none;
}

i {
  color: #c0c0c0;
}

.nav-menu {
  background-color: grey;
  height: 20rem;
  color: #fff;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1.8rem;
}

.nav-menu ul {
  padding-left: 2rem;
}

.nav-menu li {
  padding-bottom: 2.5rem;
  font-weight: 600;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background-color: #262a32;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  header button {
    display: none;
  }

  i {
    padding-left: 2rem;
    color: #262a32;
  }
  .white-space {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    background-color: #fff;
    color: black;
  }

  .nav-menu ul {
    display: flex;
  }

  .nav-menu li {
    padding-left: 3rem;
  }

  .icons {
    background-color: #fff;
    margin-right: 2rem;
    margin-top: 2.8rem;
  }
}

/* Login modal */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-modal {
  width: 50rem;
  height: 48rem;
  border: 2px solid red;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal__title {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal__button {
  display: block;
  font-weight: 600;
  width: 18rem;
  height: 4rem;
  background-color: #84bc22;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 1.2rem 7rem 1.5rem 7rem;
}

.modal__label {
  margin-bottom: 1rem;
  display: block;
}

.modal__for__email {
  position: relative;
  left: -180px;
}

.modal__for__password {
  position: relative;
  left: -170px;
}

.modal__input {
  display: block;
  padding: 0.3rem 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  width: 40rem;
  outline: none;
}

.input--email {
  margin-bottom: 3rem;
}

.input--password {
  margin-bottom: 4rem;
}

.modal__password {
  color: #84bc22;
  font-size: 1rem;
  position: relative;
  bottom: 97px;
  left: 120px;
}

.modal__text {
  color: #84bc22;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.input--eye--icon {
  display: flex;
  justify-content: center;
  width: 40rem;
  border-radius: 15px;
}

.input--eye--icon button {
  position: relative;
  top: 3px;
  width: 4rem;
  height: 2rem;
  background-color: #fff;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
