<div class="footer">
    <div>
      &#169; Copyrigth 2019.
      <p><span>All Rights Reserved.</span></p>
      <h4 class="contact__title">CONTACT</h4>
      <div class="contact__info ">
        <div class="contact">
          <p>Headquarters:</p>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem, ipsum dolor.</p>
        </div>
        <p>contact@osf-global.com</p>
        <p>+1(888) 548-4344</p>
      </div>
    </div>

    <div class="categoriest">
      <h4 class="categoriest__title">CATEGORIEST</h4>
      <div class="categoriest__info hidden">
        <div >
          <ul >
            <li>Alcohol</li>
            <li>Art</li>
            <li>Lorem.</li>
            <li>Lorem.</li>
            <li>Lorem.</li>
          </ul>
        </div>
        <div class="categoriest two ">
          <ul >
            <li>Home</li>
            <li>Jewelry</li>
            <li>Kids & Baby</li>
            <li>Men's Fashion</li>
            <li>Lorem.</li>
            <li>Lorem.</li>
            <li>Lorem.</li>
            <li>Lorem.</li>
          </ul>
        </div>
        <div class="categoriest three">
          <ul >
            <li>Lorem ipsum dolor sit.</li>
            <li>Jewelry</li>
            <li>Kids & Baby</li>
            <li>Men's Fashion</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="categoriest ">
      <h4 class="about">ABOUT</h4>
      <ul class="about__info hidden">
        <li>About us</li>
        <li>Delivery</li>
        <li>Testimonials</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="footer__icons " >
      <i class="fa-brands fa-facebook-f fa-xl" style="color: #b2b2b2;"></i>
      <i class="fa-brands fa-google-plus-g fa-xl" style="color: #b2b2b2;"></i>
      <i class="fa-brands fa-twitter fa-xl" style="color: #b2b2b2;"></i>
      <i class="fa-brands fa-pinterest-p fa-xl" style="color: #b2b2b2;"></i>
    </div>
  </div