<div class="header">
  <header>
    <button id="btn-menu">
      <i class="fa-solid fa-bars fa-2xl" style="color: #000000"></i>
    </button>
    <img src="images/logo_icon.png" alt="" />
    <div class="white-space"></div>
  </header>
  <nav class="nav-menu hidden">
    <ul>
      <li>SERVICES</li>
      <li>COMPANY</li>
      <li>LIBRARY</li>
      <li>CONTACT US</li>
    </ul>
  </nav>
  <div class="icons">
    <i
      class="fa-solid fa-magnifying-glass fa-flip-horizontal fa-xl"
      style="color: #c0c0c0"
    ></i>
    <i class="fa-regular fa-user fa-xl" id="btn" style="color: #c0c0c0"></i>
    <i class="fa-regular fa-heart fa-xl" style="color: #c0c0c0"></i>
    <i class="fa-solid fa-bag-shopping fa-xl" style="color: #c0c0c0"></i>
  </div>
</div>
