<div class="container">
  <div class="product-tile">
    <div class="product--tile product--tile--3">
      <img src="images/product-3.png" alt="" />
      <div class="product--tile__body">
        <p class="product--tile__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
          aliquam.
        </p>
      </div>
      <div class="product-tile-buttons">
        <button>
          <i class="fa-solid fa-plus fa-xl" style="color: #00ff40"></i>
        </button>
        <button>
          <i class="fa-solid fa-heart fa-xl" style="color: #ff0000"></i>
        </button>
      </div>
    </div>
  </div>
</div>
